<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="57x57" href="apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="favicon-194x194.png" sizes="194x194">
  <link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="manifest.json">
  <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <!-- Styles-->
  <link rel="stylesheet" href="css/manifest.css" type="text/css"><!-- inject:css -->
  <!-- endinject -->
</head>
<body>
  <div class="wrapper">
    <div class="header">
      <div class="fix"><a href="#" class="header-logo"><img src="../images/blocks/wesg-logo.png" class="header-logo-img"></a></div>
    </div>
    <div class="fix">
          <div class="events-choose">
            <!-- add class .is-current to .events-choose-item when event is currently show-->
            <!-- add class .mod-passed to .events-choose-item when event is passed--><a href="#" class="events-choose-item mod-passed"><span class="item-data"><span class="item-city">Dubai</span><span class="item-add-data"><span class="item-date">25-29 of April</span><span class="item-tournament">Africa and Middle East <br> finals</span></span></span></a>
            <!-- add class .is-current to .events-choose-item when event is currently show-->
            <!-- add class .mod-passed to .events-choose-item when event is passed--><a href="#" class="events-choose-item is-current"><span class="item-data"><span class="item-city">Kiyv</span><span class="item-add-data"><span class="item-date">13-21 of June</span><span class="item-tournament">Europe and CIS <br> finals</span></span></span></a>
            <!-- add class .is-current to .events-choose-item when event is currently show-->
            <!-- add class .mod-passed to .events-choose-item when event is passed--><a href="#" class="events-choose-item"><span class="item-data"><span class="item-city">Rio de Janeiro</span><span class="item-add-data"><span class="item-date">6-10 of August</span><span class="item-tournament">North & South Americas <br> finals</span></span></span></a>
            <!-- add class .is-current to .events-choose-item when event is currently show-->
            <!-- add class .mod-passed to .events-choose-item when event is passed--><a href="#" class="events-choose-item"><span class="item-data"><span class="item-city">Shanghai</span><span class="item-add-data"><span class="item-date">18-22 of September</span><span class="item-tournament">China Finals</span></span></span></a>
            <!-- add class .is-current to .events-choose-item when event is currently show-->
            <!-- add class .mod-passed to .events-choose-item when event is passed--><a href="#" class="events-choose-item"><span class="item-data"><span class="item-city">Taiwan</span><span class="item-add-data"><span class="item-date">5-11 of December</span><span class="item-tournament">Global Final</span></span></span></a>
          </div>
    </div>
        <button class="nav-btn js-nav-btn"><span class="btn-line"></span></button>
        <nav class="nav js-nav">
          <div class="fix"><a href="#" class="nav-link is-current">main</a><a href="#" class="nav-link">news</a><a href="#" class="nav-link">videos</a><a href="#" class="nav-link">matches</a><a href="#" class="nav-link">galleries</a><a href="#" class="nav-link">about event</a><a href="#" class="nav-link">join qualification</a>
          </div>
        </nav>
    <div class="h-footer"></div>
  </div>
  <footer class="footer">
    <div class="fix">
        <div class="footer-partners">
          <p class="footer-partners-title">Powered by</p>
          <div class="footer-partners-list"><a href="http://starladder.com/" target="_blank" class="footer-partners-item"><img src="../images/blocks/partners/1.png" class="item-img"></a><a href="http://www.alisports.com/" target="_blank" class="footer-partners-item"><img src="../images/blocks/partners/2.png" class="item-img"></a><a href="http://www.imbatv.cn/" target="_blank" class="footer-partners-item"><img src="../images/blocks/partners/3.png" class="item-img"></a>
          </div>
        </div>
    </div>
  </footer><!-- inject:js -->
  <!-- endinject -->
  <script src="https://use.fontawesome.com/884fcdae47.js" defer></script>
</body>