
<div class="fix">
  <div class="events-choose">
    <!-- add class .is-current to .events-choose-item when event is currently show-->
    <!-- add class .mod-passed to .events-choose-item when event is passed--><a href="#" class="events-choose-item mod-passed"><span class="item-data"><span class="item-city">Dubai</span><span class="item-add-data"><span class="item-date">25-29 of April</span><span class="item-tournament">Africa and Middle East <br> finals</span></span></span></a>
    <!-- add class .is-current to .events-choose-item when event is currently show-->
    <!-- add class .mod-passed to .events-choose-item when event is passed--><a href="#" class="events-choose-item is-current"><span class="item-data"><span class="item-city">Kiyv</span><span class="item-add-data"><span class="item-date">13-21 of June</span><span class="item-tournament">Europe and CIS <br> finals</span></span></span></a>
    <!-- add class .is-current to .events-choose-item when event is currently show-->
    <!-- add class .mod-passed to .events-choose-item when event is passed--><a href="#" class="events-choose-item"><span class="item-data"><span class="item-city">Rio de Janeiro</span><span class="item-add-data"><span class="item-date">6-10 of August</span><span class="item-tournament">North & South Americas <br> finals</span></span></span></a>
    <!-- add class .is-current to .events-choose-item when event is currently show-->
    <!-- add class .mod-passed to .events-choose-item when event is passed--><a href="#" class="events-choose-item"><span class="item-data"><span class="item-city">Shanghai</span><span class="item-add-data"><span class="item-date">18-22 of September</span><span class="item-tournament">China Finals</span></span></span></a>
    <!-- add class .is-current to .events-choose-item when event is currently show-->
    <!-- add class .mod-passed to .events-choose-item when event is passed--><a href="#" class="events-choose-item"><span class="item-data"><span class="item-city">Taiwan</span><span class="item-add-data"><span class="item-date">5-11 of December</span><span class="item-tournament">Global Final</span></span></span></a>
  </div>
</div>